In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series([5,-7,8,3,45,32],index=['a','b','c','d','n','z'])
s1

In [3]:
sdata = {'Warszawa':455,'Kraków':436,'Lublin':424}
s2 = pd.Series(sdata)
s2

In [4]:
print(type(s2))

<class 'pandas.core.series.Series'>

In [10]:
dataf = {
    'miasto':["Wrocław","Toruń","Gdańsk","Katowice","Płock"],
    'wnioski':[567,864,245,689,None],
    'projekty':[8,6,7,5,None]
}

frame = pd.DataFrame(dataf,index=['pierwszy','drugi','trzeci','czwarty','piąty'])
frame

,miasto,wnioski,projekty
pierwszy,Wrocław,567.0,8.0
drugi,Toruń,864.0,6.0
trzeci,Gdańsk,245.0,7.0
czwarty,Katowice,689.0,5.0
piąty,Płock,NaN,NaN

In [15]:
daty = pd.date_range("20240226",periods=6)
daty

DatetimeIndex(['2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29',
               '2024-03-01', '2024-03-02'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list('ABCD'))
df

,A,B,C,D
2024-02-26,-1.047407,0.423523,1.152082,-1.263794
2024-02-27,1.318977,-0.120311,1.085031,0.933996
2024-02-28,0.302742,0.063715,0.151749,1.658419
2024-02-29,0.597734,1.583786,1.064840,-1.183908
2024-03-01,1.040264,-0.457347,2.355871,-0.002788
2024-03-02,-0.674458,-1.427647,1.119326,1.081811

In [18]:
s = 'lajkonik'
s

'lajkonik'

In [19]:
s[0]

'l'

In [20]:
s[4]

'o'

In [21]:
s[1:5]

'ajko'

In [25]:
s[::-1]

'kinokjal'

In [26]:
df = pd.read_csv('dane/ex1.csv')
df

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [28]:
df = pd.read_csv('dane/ex4.csv',skiprows=[0,2,3])
df

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [29]:
mojedane = pd.read_csv('dane/ex5.csv')
mojedane

,something,a,b,c,d,message
0,one,1,2,3.0,4,NaN
1,two,5,6,NaN,8,world
2,three,9,10,11.0,12,foo

In [30]:
mojedane.to_csv('dane/outputA.csv')